* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    outline: none;
    border: none;
    font-family: 'Kumbh Sans', sans-serif;
    color: #f5f5f5;
}

:root {
    --color1: #111;
    --color2: #333;
    --color3: #e50914;
}

body {
    background: var(--color1);
}

header {
    padding: 30px 50px;
    background: url(./assets/background.jpeg);
}

nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 120px;
}

.nav-btn-wrapper {
    position: relative;
}

.nav-btn-wrapper > img {
    position: absolute;
    width: 20px;
    top: 8px;
    left: 5px;
    pointer-events: none;
}

.nav-btn-wrapper > i {
    position: absolute;
    font-size: 14px;
    left: 100px;
    top: 12px;
}

#language {
    padding: 8px 20px 8px 30px;
    border: 1px solid #f5f5f5;
    background: transparent;
    font-size: 14px;
    margin-right: 30px;
    border-radius: 3px;
    appearance: none;
}

.signin-btn {
    padding: 7px 17px;
    background: var(--color3);
    font-size: 16px;
    border-radius: 4px;
    font-weight: 500;
}
