* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    outline: none;
    border: none;
    font-family: 'Kumbh Sans', sans-serif;
    color: #f5f5f5;
}

body {
    background: #000;
}

header {
    padding: 30px 50px;
    background: linear-gradient(rgba(255, 255, 255, 0.1), rgba(0, 0, 0, 1)), url('./assets/background.jpeg') center bottom no-repeat fixed;
    background-size: cover;
    position: relative;
}

nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.nav-btn-wrapper {
    position: relative;
}

.nav-btn-wrapper > img {
    position: absolute;
    width: 18px;
    top: 9px;
    left: 6px;
    pointer-events: none;
}

.nav-btn-wrapper > i {
    position: absolute;
    font-size: 10px;
    left: 110px;
    top: 14px;
}

#language {
    padding: 8px;
    max-width: 132px;
    border: 1px solid #f5f5f5;
    background: #333;
    font-size: 14px;
    margin-right: 30px;
    border-radius: 3px;
    appearance: none;
    position: absolute;
    left: 0;
    opacity: 0;
    cursor: pointer;
}

#btn-language {
    padding: 8px 0;
    width: 132px;
    border: 1px solid #f5f5f5;
    background: transparent;
    font-size: 14px;
    padding-right: 30px;
    margin-right: 30px;
    border-radius: 3px;
    pointer-events: none;
    cursor: pointer;
}

.signin-btn {
    padding: 7px 17px;
    background: #e50914;
    font-size: 16px;
    border-radius: 4px;
    font-weight: 500;
    cursor: pointer;
    transition: all 0.4s ease-in-out;
}

.signin-btn:hover {
    transform: translateY(3px);
    background: #f11520;
}

.header-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.header-content > h1 {
    font-size: 64px;
    max-width: 700px;
    margin: 170px auto 5px;
}

.header-content > h2 {
    font-weight: 500;
    font-size: 24px;
    margin-bottom: 24px;
}

.header-content > p {
    font-size: 18px;
    font-weight: 500;
    margin-bottom: 10px;
}

.user-input {
    position: relative;
    max-width: 714px;
    margin: auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-bottom: 130px;
}

.email-label {
    position: absolute;
    color: #808080;
    font-size: 17px;
    left: 10px;
    transition: all 0.2s ease-in-out;
    pointer-events: none;
}

.user-email {
    width: 480px;
    height: 70px;
    padding: 5px 5px 0 10px;
    color: #000;
    margin-right: 1px;
    border: 1px solid #808080;
    font-size: 16px;
}

.user-email:focus ~ .email-label,
.user-email:valid ~ .email-label {
    font-size: 13px;
    font-weight: 600;
    top: 6px;
}

.started-btn {
    height: 70px;
    background: #e50914;
    font-size: 26px;
    font-weight: 500;
    padding: 0 30px;
    cursor: pointer;
    border: 2px solid transparent;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.started-btn:hover {
    background: #f11520;
}

.started-btn::after {
    content: url('./assets/seta.svg');
    padding-left: 15px;
    display: inline-block;
}

.started-btn:active {
    outline: 2px solid #ba0710;
}

.line {
    width: 100%;
    height: 7px;
    background: #222222;
}

.netflix-showcase {
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 35px 40px;
    max-width: 1200px;
    margin: auto;
}

.section-content > h1 {
    font-size: 50px;
    margin-bottom: 15px;
}

.section-content > h2 {
    font-size: 26px;
    font-weight: 400;
    max-width: 548px;
}

.first-animation-wrapper {
    position: relative;
}

.first-animation-wrapper img {
    width: 100%;
    max-width: 560px;
}

.first-animation-wrapper video {
    position: absolute;
    left: 13%;
    top: 20.5%;
    width: 73%;
    max-width: 390px;
    z-index: -1;
}

.second-animation-wrapper {
    position: relative;
    padding-left: 100px;
}

.second-animation-wrapper > img {
    width: 150%;
    max-width: 504px;
    position: relative;
    left: -50%;
}

.stranger-things-card {
    width: 110%;
    height: 100px;
    padding: 0 10px;
    border: 2px solid #333;
    border-radius: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    background: #000000;
    position: relative;
    bottom: 130px;
    left: -35%;
}

.stranger-things-inner-card {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.banner-img {
    width: 45px;
    height: 63px;
    margin-right: 10px;
}

.stranger-things-txt p:nth-child(1) {
    font-size: 16px;
    font-weight: bold;
}

.stranger-things-txt p:nth-child(2) {
    font-size: 14px;
    color: #0071eb;
}

.download-img {
    width: 48px;
    height: 50px;
    margin-left: 50px;
}

#stranger-things-content {
    margin-left: 30px;
}

.third-inner-animation-wrapper {
    position: relative;
}

.third-inner-animation-wrapper > img {
    width: 107%;
    max-width: 560px;
}

.third-inner-animation-wrapper > video {
    position: absolute;
    left: 20.7%;
    top: 11%;
    z-index: -1;
    width: 65.5%;
    max-width: 325px;
}

.fourth-animation-wrapper > img {
    width: 110%;
    max-width: 504px;
}

#kids-content {
    margin-left: 40px;
}

.questions {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.questions h1 {
    font-size: 50px;
    padding-top: 60px;
    padding-bottom: 20px;
    text-align: center;
}

#faq-list {
    max-width: 1100px;
    list-style-type: none;
    padding: 0 150px;
    width: 100%;
}

.question {
    width: 100%;
    height: 76px;
    margin: 6px 0;
    background: #303030;
    font-size: 28px;
    text-align: left;
    padding-left: 30px;
    padding-right: 70px;
    cursor: pointer;
    position: relative;
}

.question::after {
    content: url('./assets/fechar.svg');
    transform: rotate(45deg);
    position: absolute;
    top: 20px;
    right: 30px;
    transition: all 0.3s ease-in-out;
}

.question.active-q::after {
    transform: rotate(90deg);
}

p.active-a {
    opacity: 1;
    position: static;
}

.answer-paragraph {
    width: 100%;
    position: absolute;
    left: -10000px;
    opacity: 0;
    background: #303030;
    font-size: 25px;
    text-align: left;
    padding: 30px 30px;
    margin-top: -5px;
    transition: all 0.5s ease-in-out;
}

#email-paragraph {
    margin-top: 20px;
    font-size: 18px;
    font-weight: 500;
    margin-bottom: 5px;
    padding: 20px;
}

.footer-wrapper {
    max-width: 1100px;
    padding: 0 70px;
    margin: 70px auto 30px auto;
}

.tel-paragraph {
    font-size: 16px;
    color: #757575;
    margin-bottom: 20px;
    font-weight: 500;
}

.tel-paragraph > a {
    text-decoration: none;
    color: #757575;
}

.footer-links {
    list-style-type: none;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    text-align: center;
}

.footer-links > li {
    margin: 6px 0;
}

.footer-links a {
    text-decoration: none;
    color: #757575;
    font-size: 13px;
}

footer a:hover {
    text-decoration: underline;
}

.footer-btn-wrapper {
    position: relative;
}

.footer-btn-wrapper > img {
    position: absolute;
    width: 22px;
    left: 12px;
    top: 35px;
    pointer-events: none;
}

.footer-btn-wrapper > i {
    position: absolute;
    font-size: 14px;
    left: 150px;
    top: 38px;
    color: #777;
}

#languageDown {
    height: 53px;
    padding-left: 50px;
    padding-right: 35px;
    border: 1px solid #333;
    background: #000000;
    color: #999;
    font-size: 16px;
    font-weight: 500;
    border-radius: 3px;
    appearance: none;
    margin: 20px 0;
    cursor: pointer;
}

.netflix-footer-paragraph {
    font-size: 14px;
    color: #757575;
}

@media screen and (max-width: 1449px) {
    .header-content > h1 {
        font-size: 50px;
        max-width: 540px;
    }

    .user-email {
        height: 60px;
    }

    .started-btn {
        height: 60px;
    }
}

@media screen and (max-width: 949px) {
    .header-content > p {
        font-size: 23px;
        max-width: 480px;
        margin: auto;
        margin-bottom: 12px;
    }

    .user-input {
        flex-direction: column;
    }

    .email-label {
        top: 20px;
    }

    .started-btn {
        margin-top: 20px;
        width: 130px;
        height: 40px;
        font-size: 16px;
        padding: 0 8px;
        padding-right: 2px;
        border-radius: 3px;
    }

    .started-btn::after {
        transform: scale(0.5);
        padding-left: 10px;
    }

    .netflix-showcase {
        flex-direction: column;
    }

    .section-content > h1 {
        font-size: 41px;
        text-align: center;
    }

    .section-content > h2 {
        text-align: center;
        max-width: unset;
        font-size: 20px;
        margin-bottom: -30px;
        position: relative;
        z-index: 1;
    }

    #stranger-things-content {
        margin-left: 0;
    }

    #kids-content {
        margin-left: 0;
    }

    .reverse {
        flex-direction: column-reverse;
    }

    .second-animation-wrapper > img {
        width: 100%;
        left: -10%;
    }

    .stranger-things-card {
        width: 100%;
        max-width: 400px;
        left: -12%;
    }

    .third-inner-animation-wrapper {
        margin-top: 20px;
    }

    .fourth-animation-wrapper {
        margin-top: 50px;
    }

    .questions h1 {
        font-size: 40px;
    }

    #faq-list {
        padding: 0 100px;
    }

    .question {
        font-size: 20px;
        height: 60px;
    }

    .question::after {
        transform: scale(0.7) rotate(45deg);
    }

    .question.active-q::after {
        transform: scale(0.7) rotate(90deg);
    }

    .answer-paragraph {
        font-size: 19px;
    }

    #email-paragraph {
        font-size: 23px;
        max-width: 480px;
        text-align: center;
        margin-right: auto;
        margin-left: auto;
    }
}

@media screen and (max-width: 760px) {
    .header-content > p {
        font-size: 18px;
    }

    .user-email {
        height: 48px;
        width: 450px;
    }

    .email-label {
        top: 15px;
        font-size: 14px;
    }

    .user-email:focus ~ .email-label,
    .user-email:valid ~ .email-label {
        font-weight: 400;
        font-size: 10px;
    }

    #faq-list {
        padding: 0 60px;
    }

    .footer-links {
        grid-template-columns: repeat(3, 1fr);
    }

    .footer-wrapper {
        padding: 0 50px;
    }
}

@media screen and (max-width: 550px) {
    header {
        padding: 30px 20px;
    }

    nav > img {
        width: 88px;
    }

    .nav-btn-wrapper > img {
        width: 14px;
        top: 8px;
    }

    .nav-btn-wrapper > i {
        left: 80px;
        top: 10px;
    }

    #btn-language {
        width: 100px;
        padding: 5px 0;
        padding-right: 0;
        margin-right: 10px;
    }

    .signin-btn {
        font-size: 14px;
        padding: 5px 10px;
    }

    .header-content > h1 {
        margin: 50px auto 5px;
        font-size: 28px;
    }

    .header-content > h2 {
        font-size: 18px;
    }

    .header-content > p {
        font-size: 18px;
    }

    .user-input {
        width: 95%;
        margin-bottom: 60px;
        align-items: stretch;
    }

    .user-email {
        width: unset;
    }

    .started-btn {
        margin: 20px auto 0;
    }

    .netflix-showcase {
        padding: 35px 20px;
    }

    .section-content > h1 {
        font-size: 26px;
    }

    .section-content > h2 {
        font-size: 17px;
        margin-bottom: 0;
    }

    #first-section-description {
        margin-bottom: -4vw;
    }

    .second-animation-wrapper {
        padding-left: 20vw;
    }

    .stranger-things-card {
        height: 80px;
        bottom: 80px;
    }

    .banner-img {
        width: 35px;
        height: 53px;
    }

    #fourth-section-description {
        margin-bottom: -40px;
    }

    .questions h1 {
        font-size: 26px;
    }

    #faq-list {
        padding: 0 20px;
    }

    .question {
        font-size: 18px;
    }

    .answer-paragraph {
        font-size: 17px;
    }

    #email-paragraph {
        font-size: 18px;
    }

    .footer-links {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media screen and (max-width: 430px) {
    #faq-list {
        padding: 0 10px;
    }

    .question {
        padding-left: 15px;
        padding-right: 50px;
    }

    .question::after {
        right: 15px;
    }

    .tel-paragraph {
        text-align: center;
    }

    .footer-links {
        grid-template-columns: 1fr;
    }
}
